{% extends 'main/base.html' %}

{% block title %}Добавление товара{% endblock %}

{% block content %}

<!-- Navigation-->
{% include 'main/page_parts/navigation.html' %}


<!-- Section-->
    <style>
        .form-control{
            width: 70%;
            margin: 20px 10% 0 10%;
        }
        .mb-2{
            width: 70%;
            margin: 20px 10% 0 10%;
        }
    </style>
    {% for item in product %}
        <div class="form-group">
            <input placeholder="{{ item[1] }}" id="{{ item[0] }}" class="form-control"  >
        </div>
    {% endfor %}
    <select id="unit_list" class="form-control">
        {% for unit in units%}
            <option value="{{unit.id}}">{{unit.name}}</option>
        {% endfor %}
    </select>
    <button id="add_product" class="btn btn-primary mb-2">Добавить</button>

    <script type="text/javascript"  charset="utf-8" src="../../../static/js/is_auth.js"></script>

<!-- Page Footer-->
{% include 'main/page_parts/footer.html' %}

{% endblock %}