<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
  <input name="username" placeholder="Номер телефона" id="phone">
  <input name="password" placeholder="Пароль" id="password">
  <input type="submit" id="sign_in">
</form>
<button id="q">Показать контент 2</button>
<script type="text/javascript"  charset="utf-8" src="../../../static/js/auth_sign_in.js"></script>
</body>
</html>