{% extends 'main/auth/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}

<!-- Navbar-->
{% include 'main/auth/auth_parts/navbar.html' %}


<div class="container">
  <div class="row py-5 mt-4 align-items-center">
    <!-- For Demo Purpose -->
    {% include 'main/auth/auth_parts/demo.html' %}

    <!-- Registeration Form -->
    <div class="col-md-7 col-lg-6 ml-auto">
      <form action="#">
        <div class="row">

          <!-- First Name -->
          <div class="input-group col-lg-6 mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-user text-muted"></i>
              </span>
            </div>
            <input id="first_name" type="text" name="firstname" placeholder="Имя" class="form-control bg-white border-left-0 border-md">
          </div>

          <!-- Last Name -->
          <div class="input-group col-lg-6 mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-user text-muted"></i>
              </span>
            </div>
            <input id="last_name" type="text" name="lastname" placeholder="Фамилия" class="form-control bg-white border-left-0 border-md">
          </div>

          <!-- Email Address -->
          <div class="input-group col-lg-12 mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-envelope text-muted"></i>
              </span>
            </div>
            <input id="email" type="email" name="email" placeholder="Email" class="form-control bg-white border-left-0 border-md">
          </div>

          <!-- Phone Number -->
          <div class="input-group col-lg-12 mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-phone-square text-muted"></i>
              </span>
            </div>
            <select id="country_code" name="countryCode" style="max-width: 80px" class="custom-select form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted">
              <option value="+375">+375</option>
              <option value="+7">+7</option>
<!--              <option value="">+15</option>-->
<!--              <option value="">+18</option>-->
            </select>
            <input id="phone" type="tel" name="phone" placeholder="Телефон" class="form-control bg-white border-md border-left-0 pl-3">
          </div>


          <!-- Password -->
          <div class="input-group col-lg-6 mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-lock text-muted"></i>
              </span>
            </div>
            <input id="password" type="password" name="password" placeholder="Пароль" class="form-control bg-white border-left-0 border-md">
          </div>

          <!-- Password Confirmation -->
<!--          <div class="input-group col-lg-6 mb-4">-->
<!--            <div class="input-group-prepend">-->
<!--              <span class="input-group-text bg-white px-4 border-md border-right-0">-->
<!--                <i class="fa fa-lock text-muted"></i>-->
<!--              </span>-->
<!--            </div>-->
<!--            <input id="password_confirm" type="text" name="passwordConfirmation" placeholder="Пароль еще раз" class="form-control bg-white border-left-0 border-md">-->
<!--          </div>-->

          <!-- Submit Button -->
          <div class="form-group col-lg-12 mx-auto mb-0">
            <button id="sign_up" class="btn btn-primary btn-block py-2"><span class="font-weight-bold">Зарегистрироваться</span></button>
          </div>

          <!-- Divider Text -->
          <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
            <div class="border-bottom w-100 ml-5"></div>
            <span class="px-2 small text-muted font-weight-bold text-muted">ИЛИ</span>
            <div class="border-bottom w-100 mr-5"></div>
          </div>

          <!-- Social Login -->
          {% include 'main/auth/auth_parts/social.html' %}

          <!-- Already Registered -->
          <div class="text-center w-100">
            <p class="text-muted font-weight-bold">Уже есть аккаунт? <a href="/auth/login" class="text-primary ml-2">Войти</a></p>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript"  charset="utf-8" src="../../../static/js/auth_sign_up.js"></script>
{% endblock %}